<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.ForoConnectionString" connectionString="Data Source=MIGUELON;Initial Catalog=Foro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>